@import "colors.css";

/* gf-*: 枠付きグループ（トップレベル） */
#gf-notification,
#gf-media,
#gf-datetime,
#gf-net-audio,
#gf-hardware,
#gf-power {
  background: transparent;
  border: 1px solid @background_alt;
  border-radius: 18px;
  padding: 5px 8px;
  margin: 0 4px;
}

