@import "colors.rasi"

configuration {
    font:            "JetBrains Mono Nerd Font 12";
    disable-history: true;
    fullscreen:      false;
    hide-scrollbar:  true;
    sidebar-mode:    false;
}

* {
    background-color: @background;
    text-color:       @foreground;
}

window {
    transparency:     "real";
    border-radius:    12px;
    location:         east;
    anchor:           east;
    width:            100px;
    x-offset:         -15px;
    y-offset:         0px;
    background-color: @background;
}

listview {
    columns:          1;
    lines:            3;
    spacing:          0px;
    cycle:            true;
    dynamic:          true;
    layout:           vertical;
    scrollbar:        false;
    background-color: transparent;
}

mainbox {
    children:         [ "listview" ];
    spacing:          10px;
    margin:           8px;
}

element {
    text-color:       @foreground;
    orientation:      vertical;
    border-radius:    8px;
    background-color: transparent;
}

element-text {
    font:             "JetBrains Mono Nerd Font 20";
    expand:           true;
    horizontal-align: 0.5;
    vertical-align:   0.5;
    padding:          12px 0px 25px 7px;
    margin:           4px 0px 4px 0px;
}

element selected {
    text-color:   @active;
    border-radius: 8px;
    border:       1px;
    border-color: @active;
}
