@import "colors.css";

#hollow-left-1,
#hollow-left-2,
#hollow-left-3,
#hollow-center-1,
#hollow-right-1,
#hollow-right-2,
#hollow-right-3 {
  background: @inverse_on_surface;
  border: 1px solid @surface_container;
  border-radius: 18px;
  padding: 5px 8px;
  margin: 0 4px;
}
