[Desktop Entry]
Name=NIKKE
Comment=GODDESS OF VICTORY: NIKKE
Exec=/home/mkiin/.local/bin/nikke-launch.sh
Icon=/home/mkiin/.local/share/icons/nikke.png
Type=Application
Categories=Game;
Keywords=nike;nikke;goddess;victory;gov;勝利の女神;
Terminal=false
StartupWMClass=nikke_launcher.exe
